# Environment
.DS_Store
__pycache__/
*.pyc
*.pyo
super-resolution/
include/
lib/
lib64
bin/
pyvenv.cfg

# Data, outputs & logs
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep
logs/*
!logs/.gitkeep

# Checkpoints and training outputs
checkpoints/*
!checkpoints/.gitkeep
training_outputs/*
!training_outputs/.gitkeep
